

@keyframes rainbowtext {

  0% {
    color: red;
    font-size: 20px;
  }

  25% {
    color: orange;
  }

  50% {
    color: yellow;
    font-size: 40px;
    transform: translate3d(42px, 62px, -135px);
  }

  75% {
    color: green;
  }

  100% {
    color: blue;
    font-size: 20px;
  }
}

p {
  color: red;
  font-size: 20px;
  /* animation: rainbowtext 5s linear; */

  animation-name: rainbowtext;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-delay: 0s;
  animation-iteration-count: infinite;
}